<template>
  <div>
<b-container>

<div class="d-none d-md-block">
  <carousel :per-page="4" :navigationEnabled="true" :mouse-drag="false">
    <slide v-for="image in images" :key="image.id" style="width:25%">
      <b-img :src="image.url" fluid alt="Responsive image"></b-img>
    </slide>
  </carousel>
</div>

  <div class="d-md-none">
    <b-row>
      <b-col sm="6" cols="12" v-for="image in images" :key="image.id" class="mb-3">
        <b-img :src="image.url" fluid alt="Responsive image"></b-img>
      </b-col>
    </b-row>
  </div>

</b-container>

  </div>
</template>

<script>
  import { Carousel, Slide } from 'vue-carousel';
  import { mapActions, mapGetters } from 'vuex';
  export default {
  name: "ImageList",
    components: {
      Carousel,
      Slide
    },
    computed: {
      ...mapGetters({
        images: 'images/getImagesList',
      }),
    },
    methods:{
    ...mapActions(
        'images',
      ['fetchAllCurrentImages']),

    },
    created(){
      this.fetchAllCurrentImages();
  }

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import url('../assets/ImageList.scss');
</style>
