<template>
  <div id="app">
    <ImageList />
  </div>
</template>

<script>
import ImageList from "./components/ImageList.vue";

export default {
  name: "app",
  components: {
    ImageList
  }
};
</script>
d
<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
